# macOS
.DS_Store
.AppleDouble
.LSOverride

# Files that might be created by Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# App Bundle output
*.app/
bin/
